<div id="top-bar">
  <div id = "login-info">
    <% if(user_id){%>
      Signed in as <%= user_id %>
    <% } %>
  </div>

  <div id="title-container">
    <a class="white-link" href="/urls" >TinyApp</a>
  </div>

  <div id="nav-login-form-container">
    <% if(user_id){%>
      <form id="nav-logout-form" action="/logout" method="post">
        <label for="user_id" aria-label="user_id"></label>
          <input type="hidden" name="user_id" value="<%= user_id %>">
          <input id="nav-logout-button" class="styled-button" type="submit" value="Logout">
      </form>
    <% }else{ %>
      <a href="/login">
        <div class="styled-button">Login</div>
      </a>
      <a href="/register">
        <div class="styled-button">Register</div>
      </a>

    <% } %>
  </div>
</div>