<div id="top-bar">
  <div id="title-container">
    <a class="white-link" href="/urls" >TinyApp</a>
  </div>

  <div id="login-form-container">
    <form id="login-form" action="/login" method="post">
      <label for="username" aria-label="username"></label>
        <input type="text" name="username" placeholder="username"></form>
        <input id="login-button" class="styled-button" type="submit" value="Login">
    </form>
  </div>
</div>