<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include ./partials/_header.ejs %>

    <div id="main-container-mid">
      <div>
        <div>
          401 Authentication Failed
        </div>

        <div class="error-div">
          <a href="/login">Back To Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
