<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include ./partials/_header.ejs %>

    <div id="main-container-mid">
      <div id="greeting-container">
        <div id="greeting-title">
          Welcome
        </div>
        <div id="greeting-link">
          <a href="/urls">
            Shorten Some URLs
          </a>
        </div>

      </div>
    </div>
  </body>
</html>
