<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div>

      <table>
        <tr>
          <th>URL</th>
          <th>Short</th>
          <th>Link</th>
        </tr>
        <tr>
          <td><%= shortURL %></td>
          <td><%= longURL %></td>
          <td><%- `<a href=/u/${shortURL}>Link</a>` %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
