<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <% include ./partials/_nav-top.ejs %>

    <div id="main-container-mid">

      <table>

        <% Object.keys(urls).forEach(url => { %>
          <tr>
            <td><%= url %></td>
            <td class="arrow-icon-td"><img id="arrow-icon" src="/arrow.png"/></td>
            <td><%- `<a href=/u/${url}>${urls[url]}</a>` %></td>
            <td class="edit-td"><%- `<a href=/urls/${url}>Edit</a>` %></td>
            <td>
                <form action=/urls/<%= url %>/delete method="POST">
                <label for="shortURL" aria-label="Delete"></label>
                <button id="shortURL" class="styled-button" type="submit" name="shortURL" <% `value=${url}` %> >Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </table>

    </div>
  </body>
</html>
