<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div>

      <table>
        <tr>
          <th>URL</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>ShortURL: <%= shortURL %></td>
          <td><%- `<a href=/u/${shortURL}>Link</a>` %></td>
          <td>
                <form action=/urls/<%- shortURL %> method="POST">
                <label for="newLongURL" class="hidden-label">Enter a new URL:</label>
                <input id="newLongURL" type="text" name="newLongURL" placeholder="<%- longURL %>" style="width: 300px">
                <input type="submit" value="Update">
              </form>
            </td>
        </tr>
      </table>
    </div>
  </body>
</html>
