<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <th>URL</th>
          <th>Short</th>
          <th>Link</th>
        </tr>

        <% Object.keys(urls).forEach(url => { %>
          <tr>
            <td><%= urls[url] %></td>
            <td><%= `/u/${url}` %></td>
            <td><%- `<a href=/u/${url}>Link</a>` %></td>
            <td>
              <%- `<form action=/urls/${url}/delete method="POST"` %>
                <label for="shortURL" ></label>
                <button id="shortURL" type="submit" name="shortURL" <% `value=${url}` %> >Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>

      </table>
    </div>
  </body>
</html>
