<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>
  <body>
    <% include ./partials/_header.ejs %>
    <div id="main-container-mid">
      <div>
        <table>
          <tr>
            <th class="urls-show-th">
              <%- `<a class="urls-show-big-link" href=/u/${shortURL}>ShortURL: <span class="bold-url">${shortURL}</span></a>` %>
            </th>
          </tr>
          <tr>
            <td>
              <form class="url-show-form" action="/urls/<%- shortURL %>?_method=PUT" method="POST">
                <label class="url-show-label" for="newLongURL" class="hidden-label">Enter a new URL:</label>
                <input id="newLongURL" type="text" name="newLongURL" placeholder="<%- longURL %>">
                <input type="submit" class="styled-button" value="Update">
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
