<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <th>URL</th>
          <th>Short</th>
          <th>Link</th>
        </tr>

        <% Object.keys(urls).forEach(url => { %>
          <tr>
            <td><%= urls[url] %></td>
            <td><%= `http://www.tinyapp.ca/${url}` %></td>
            <td><a href="http://www.lighthouselabs.ca">Link</a></td>
          </tr>
        <% }); %>

      </table>
    </div>
  </body>
</html>
