html, body{
  margin:0px;
  background:#eeeeee;
  box-sizing:border-box;
  font-family:Arial;
}

td {
  width:100px;
  padding:10px;
  vertical-align: middle;
}

.edit-td{
  width:30px;
}

a{
  text-decoration:none;
}

.styled-button{
  color:white;
  background:#d62d20;
  border:none;
  border-radius:5px;
  margin:5px;
  padding:5px 10px 5px 10px;
  font-size:16px;
}

.styled-button:hover{
  background:#e35146;
  cursor: pointer;
}

#top-bar{
  position:relative;
  width:calc(100% -20px);
  background:#00003f;
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-size:35px;
  padding:18px;
  font-family:Helvetica;
  min-width:700px;
  box-shadow:0px 3px 3px #666666;
}

.white-link{
  color:white;
}

#main-container-mid{
  padding-top:30px;
  margin:auto;
  width:900px;
  background:white;
  height:550px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}


#no-urls-div{
}

#nothing-here-heading{
  margin:auto;
  font-size:40px;
  font-weight:bold;
  text-align:center;
  margin-bottom:5px;
}

.no-url-link{
  font-size:17px;
  margin:auto;
  text-align:center;
}


#arrow-icon{
  height:30px;
  width:30px;
}

.arrow-icon-td{
  width:40px;
}

#shortURL {
  display:block;
}

.urls-show-big-link{
  font-size:35px;
  color:black;
}

.url-show-form{
}

.urls-show-th{
  width:325px;
}

.url-show-label{
  display:block;
}

#newLongURL{
  width:205px;
}

.bold-url{
  font-weight:black;
}

#title-container{
}

#nav-login-form-container{
  position:absolute;
  right:10px;
  top:0px;
}

#nav-login-button{
  margin:auto;
}

#login-info{
  color:white;
  position:absolute;
  font-size:18px;
  left:10px;
  bottom:15px;
}

.block-input-field{
  display:block;
  margin-bottom:10px;
}

#register-button{
  width:100%;
  margin:0;
}

#sign-up{
  text-align:center;
  margin-bottom:10px;
  font-size:25px;
  font-weight:bold;
}

.error-div{
  display:block;
  margin-top:5px
}